# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets
*.env
Secrets.plist
